body {
    background-image:url(images/lmao.png);
    color: rgb(255, 255, 255);
    padding: 10px;
    font-family: monospace;
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background-image: url(images/black-carbon-fiber-texture-background_1017-23627.avif);
   margin: 0 auto;
    display: flex;
    padding: 10px;
}
h1 {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    flex: 1;
    margin: 0 auto;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #ffffff;
    font-family: monospace;
}

/* main container area beneath menu */
main {
    background-image: url(images/360_F_142456029_GaJ0KkZu8VqUa7QiAxSCnFhO5bJtIayO.jpg);
    display: flex;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
    height: 200px;
}
.content {
    flex: 1;
    padding: 15 ;
}

/* portfolio styles */
#interests {
    border: 4px silver ridge;
    padding: 8px;
}
h2, h3 {
    margin: 10px ;
}
.content h1{color:rgb(255, 255, 255);
    font-family: monospace;
    
}
#portfolio {
    list-style-type: none;
    padding-left: 400px;
}

#portfolio li {
    background: #bebebe;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

#portfolio li:hover {
    background: #eeeeee;
}

#portfolio a{
    text-decoration: none;
    color: #000000;
    font-family: monospace;
}

